= form_for(@user, html:{class:'form-horizontal'}) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label '登陆名(请填写合法手机号)', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.text_field :email, placeholder: '登陆名(请填写合法手机号)', class: 'form-control'
  .form-group
    = f.label :password, '密码(不填写不更新)', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.password_field :password, autocomplete: 'off', placeholder: '密码(最少8位)(不填写不更新)', class: 'form-control'
  .form-group
    = f.label :password_confirmation, '确认密码(不填写不更新)', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.password_field :password_confirmation, autocomplete: 'off', placeholder: '确认密码(不填写不更新)', class: 'form-control'
  .form-group
    = f.label '名称', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.text_field :name, placeholder: '名称', class: 'form-control'
  .form-group
    = f.label '可操作区域', class: 'col-sm-2 control-label'
    .col-sm-9
      - @regions.each do |region|
        .checkbox.f-left.mgl10
          %label
            = f.check_box '', {'name' => "regions[#{region.id}]", 'checked' => (@user.regions.include? region)}
            = region.name
  .form-group
    = f.label '可操作栏目', class: 'col-sm-2 control-label'
    .col-sm-9
      - @categories.each do |category|
        .checkbox.f-left.mgl10
          %label
            = f.check_box '', {'name' => "categories[#{category.id}]", 'checked' => (@user.categories.include? category)}
            = category.title
  .form-group
    = f.label '权限', class: 'col-sm-2 control-label'
    .col-sm-9
      - regular_role_names.each do |key, value|
        .checkbox.f-left.mgl10
          %label
            = f.check_box '', {'name' => "roles[#{key}]", 'checked' => (@user.has_role? key)}
            = value
  .form-group
    .actions.col-sm-offset-5
      = f.button '提交', class: 'btn btn-default'
      = link_to '返回', :back, class: 'btn btn-default second'
