= form_for(@user, :url => users_user_create_path) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password, '密码'
    = f.password_field :password, autocomplete: 'off', placeholder: '密码(最少8位)'
  .field
    = f.label :password_confirmation, '确认密码'
    = f.password_field :password_confirmation, autocomplete: 'off', placeholder: '确认密码'
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :regions
    - @regions.each do |region|
      = f.check_box :regions, {'name' => "regions[#{region.id}]", 'checked' => (@user.regions.include? region)}
      = f.label :regions, region.name
  .field
    = f.label :roles, '权限'
    - regular_role_names.each do |key, value|
      = f.check_box :roles, {'name' => "roles[#{key}]", 'checked' => (@user.has_role? key)}
      = f.label :roles, value
  .actions
    = f.submit 'Save'
