= form_for(@link,html:{class:'form-horizontal'}) do |f|
  - if @link.errors.any?
    #error_explanation
      %h2= "#{pluralize(@link.errors.count, "error")} prohibited this link from being saved:"
      %ul
        - @link.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label '名称', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.text_field :name, placeholder: '名称', class: 'form-control'
  .form-group
    = f.label '链接地址', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.text_field :url, placeholder: '链接地址', class: 'form-control'
  .form-group
    = f.label '优先级(越低越高)', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.number_field :priority, placeholder: '优先级', class: 'form-control'
  .form-group
    = f.label '状态', class: 'col-sm-2 control-label'
    .col-sm-9
      = select_tag 'link[status]', options_for_select(status_for_select, @link.status), class: 'form-control'
  .form-group
    = f.label '图片', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.file_field :cover, class: 'form-control'
  .form-group
    .actions.col-sm-offset-5
      = f.button '提交', class: 'btn btn-default'
      = link_to '返回', :back, class: 'btn btn-default second'
