= form_for(@category, html:{class:'form-horizontal'}) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label '标题', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.text_field :title, placeholder: '标题', class: 'form-control'
  .form-group
    = f.label '状态', class: 'col-sm-2 control-label'
    .col-sm-9
      = select_tag 'category[status]', options_for_select(show_status, @category.status), class: 'form-control'
  .form-group
    = f.label :parent_id, '父分类', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.collection_select :parent_id, Category.parent_categories, :id, :title, {:prompt=>'', :selected=>(@category.parent_id if @category.parent_id)}, class: 'form-control'
  .form-group
    = f.label '优先级（越小越好）', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.number_field :priority, class: 'form-control'
  .form-group
    .actions.col-sm-offset-5
      = f.button '提交', class: 'btn btn-default'
      = link_to '返回', :back, class: 'btn btn-default second'
