%h1 Listing categories

%table
  %thead
    %tr
      %th 标题
      %th 状态
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= category_status category.status
        - if can? :read, Category
          %td= link_to 'Show', category
        - if can? :update, Category
          %td= link_to 'Edit', edit_category_path(category)
        - if can? :destroy, Category
          %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
