= form_for(@region,html:{class:'form-horizontal'}) do |f|
  - if @region.errors.any?
    #error_explanation
      %h2= "#{pluralize(@region.errors.count, "error")} prohibited this region from being saved:"
      %ul
        - @region.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label '名称', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.text_field :name, placeholder: '名称', class: 'form-control'
  .form-group
    = f.label '优先级(越小越靠前)', class: 'col-sm-2 control-label'
    .col-sm-9
      = f.number_field :priority, class: 'col-sm-2 control-label'
  .form-group
    .actions.col-sm-offset-5
      = f.button '提交', class: 'btn btn-default'
      = link_to '返回', :back, class: 'btn btn-default second'
