.form-content
  %ol.breadcrumb
    当前位置:
    %li
      所有区域列表

  %table.table.table-striped
    %thead
      %tr
        %th 名称
        %th 优先级
        %th 操作
        %th 操作
        %th 操作

    %tbody
      - @regions.each do |region|
        %tr
          %td= region.name
          %td= region.priority
          - if can? :read, Region
            %td= link_to '查看', region, class: 'btn-sm btn-info'
          - if can? :update, Region
            %td= link_to '编辑', edit_region_path(region), class: 'btn-sm btn-primary'
          - if can? :destroy, Region
            %td= link_to '删除', region, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn-sm btn-danger'

  %br

  = link_to '新增区域', new_region_path, class: 'btn btn-primary'
