%h1 Listing regions

%table
  %thead
    %tr
      %th Name
      %th 优先级
      %th
      %th
      %th

  %tbody
    - @regions.each do |region|
      %tr
        %td= region.name
        %td= region.priority
        - if can? :read, Region
          %td= link_to 'Show', region
        - if can? :update, Region
          %td= link_to 'Edit', edit_region_path(region)
        - if can? :destroy, Region
          %td= link_to 'Destroy', region, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Region', new_region_path
