<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html
  = render :partial => 'layouts/header'
  %body#nv_portal.pg_index
    = render :partial => 'layouts/banner'
    -#- if ['articles','welcome'].include? controller.controller_name
    = render :partial => 'layouts/horizontal_menu'
    = render :partial => 'layouts/content'
    = render :partial=> 'layouts/footer'
  = render :partial => 'layouts/scripts'
