<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html
  = render :partial => 'layouts/header'
  %body
    #container
      #top-1
      #main
        #big-banner
          .banner-info
            .root-link
              =link_to '首页', root_path
            .separate
            .login-info
              - if current_user
                欢迎:
                =current_user.name
              - else
                = link_to '系统登陆', new_user_session_path
            - if current_user
              .separate
              .new-article
                = link_to '发表文章', new_article_path
              .separate
              .logout
                = link_to '安全退出', destroy_user_session_path
        = render :partial => 'layouts/slide'
        = render :partial => 'layouts/banner'
        = render :partial => 'layouts/content'
        = render :partial=> 'layouts/footer'
  = render :partial => 'layouts/scripts'
